@import "../../../_css/common";

.form {
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
  color: white;
 
}

.submit {
  width: 100%;
  color: white;
  background-color: grey;
}

.message {
  margin-bottom: var(--base);
  color: white;
}
